@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-purple: #9C9AD9;
  --purple-light: #B8B6E8;
  --purple-dark: #7C7AB9;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-main-purple: var(--main-purple);
  --color-purple-light: var(--purple-light);
  --color-purple-dark: var(--purple-dark);

  /* --font-sans: var(--font-quicksand), sans-serif; */
  --font-heading: var(--font-questrial), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-quicksand), sans-serif;
}